* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: cyan;
  }
  #home_page {
    background-color:cyan;
  }
 
  input {
    line-height: 50px;
    width: 300px;
    margin: 0 1% 0 5%;
  }
  input:focus {
    color:purple;
    font-size: 1.2em;
  }
  ::placeholder { 
    color: black;
    font-size: 1.5em;
    padding: 0 1%;
  }
/* 
  img{
      width:auto;
      height:auto;
  } */
  
 
  