<%-include("partials/header")%>
    <div class="m-5">
        <h1>Sorry, page not found!</h1>
        <a href="/home" type="button" class="btn btn-primary">Go Home</a>
    </div>
    <%-include("partials/footer")%>